.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
}

.grid:hover {
  cursor:pointer;
}


/* .card {
  border: 1px solid white;
}

.score-header {
  font-size:20px;
  font-weight:bold;
} */